.auth__main {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $black-blue;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.auth__box-container {
	background-color: $light-gray;
	border-radius: 15px;
	padding: 27px;
	width: 270px;
}
