*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Convergence', sans-serif;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.form-control {
	position: relative;
	width: 20rem;
	height: 3rem;

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 2px solid $clr-gray300;
		border-radius: $radius;
		font-family: inherit;
		font-size: inherit;
		color: black;
		outline: none;
		padding: 1.25rem;
		background: none;

		&:hover {
			border-color: $clr-primary-light;
		}

		&:focus {
			border-color: $clr-primary;
		}
	}

	&__label {
		position: absolute;
		left: 1rem;
		top: 0.8rem;
		padding: 0 0.5rem;
		color: black;
		cursor: text;
		transition: top 200ms ease-in, left 200ms ease-in,
			font-size 200ms ease-in;
		background-color: $light-gray;
	}
}

.form-control__input:focus ~ .form-control__label,
.form-control__input:not(:placeholder-shown).form-control__input:not(:focus)
	~ .form-control__label {
	top: -0.5rem;
	font-size: 0.8rem;
	left: 0.8rem;
}

.btn {
	padding: 7px 14px;
	border-radius: $radius;
	outline: none;
	border: 2px solid $light-blue;

	&:hover {
		border: 3px solid $clr-primary-light;
	}

	&:focus {
		border: 3px solid $clr-primary;
	}
}
