$light-blue: #9ad9ff;
$white: #e9feff;
$black-blue: #111a35;
$dark-gray: #76777c;
$light-gray: #e2e2e2;

// variables input
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-gray300: #e1e5ee;

$radius: 0.5rem;
